{"openapi":"3.1.0","info":{"title":"BrowserStack Devtools","version":"1.0.0","description":"Generated by BrowserStack. Contains 25 endpoints."},"paths":{"/api-www/global-elements/global-header/v1/flyouts":{"get":{"servers":[{"url":"https://www.apple.com"}],"summary":"/api-www/global-elements/global-header/v1/flyouts","description":"**Host**: https://www.apple.com","responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"analyticsAttributes":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"]}},"id":{"type":"string"},"baseGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"analyticsAttributes":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"]}},"baseLinks":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"text":{"type":"string"},"url":{"type":"string"},"analyticsAttributes":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"]}},"ariaLabel":{"type":"string"}},"required":["id","text","url","analyticsAttributes","ariaLabel"]}}},"required":["id","title","analyticsAttributes","baseLinks"]}},"elevatedGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"analyticsAttributes":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"]}},"elevatedLinks":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"text":{"type":"string"},"url":{"type":"string"},"analyticsAttributes":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"]}},"ariaLabel":{"type":"string"}},"required":["id","text","url","analyticsAttributes","ariaLabel"]}},"baseLinks":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"text":{"type":"string"},"url":{"type":"string"},"analyticsAttributes":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}},"required":["name","value"]}},"ariaLabel":{"type":"string"}},"required":["id","text","url","analyticsAttributes","ariaLabel"]}}},"required":["id","title","analyticsAttributes","elevatedLinks"]}}},"required":["name","analyticsAttributes","id"]}}}},"description":"","headers":{"x-a3enabled":{"required":false,"schema":{"type":"string"}},"x-cache":{"required":false,"schema":{"type":"string"}},"x-content-type-options":{"required":false,"schema":{"type":"string"}},"x-span-id":{"required":false,"schema":{"type":"string"}},"x-trace-id":{"required":false,"schema":{"type":"string"}}}}},"security":[{"apikey_cookie_s_fid":[]},{"apikey_cookie_dssid2":[]},{"apikey_header_cookie":[]},{"apikey_cookie_as_rumid":[]}],"parameters":[{"name":"locale","in":"query","required":false,"schema":{"type":"string"}}]}},"/search-services/suggestions/defaultlinks/":{"get":{"servers":[{"url":"https://www.apple.com"}],"summary":"/search-services/suggestions/defaultlinks/","description":"**Host**: https://www.apple.com","responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"sectionName":{"type":"string"},"sectionResults":{"type":"array","items":{"type":"object","properties":{"label":{"type":"string"},"url":{"type":"string"}},"required":["label","url"]}}},"required":["sectionName","sectionResults"]}}},"required":["id","results"]}}},"description":"","headers":{"x-cache":{"required":false,"schema":{"type":"string"}},"x-content-type-options":{"required":false,"schema":{"type":"string"}},"x-routed-by":{"required":false,"schema":{"type":"string"}}}}},"security":[{"apikey_cookie_s_fid":[]},{"apikey_cookie_dssid2":[]},{"apikey_header_cookie":[]}],"parameters":[{"name":"src","in":"query","required":false,"schema":{"type":"string"}},{"name":"locale","in":"query","required":false,"schema":{"type":"string"}}]}},"/in/shop/bag/status":{"get":{"servers":[{"url":"https://www.apple.com"}],"summary":"/in/shop/bag/status","description":"**Host**: https://www.apple.com","responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"integer"},"ttl":{"type":"integer"},"api":{"type":"object","properties":{"flyout":{"type":"string"},"addToBag":{"type":"string"}},"required":["flyout","addToBag"]}},"required":["items","ttl","api"]}}},"description":"","headers":{"x-cache":{"required":false,"schema":{"type":"string"}},"x-content-type-options":{"required":false,"schema":{"type":"string"}},"x-nxid":{"required":false,"schema":{"type":"string"}},"x-shred":{"required":false,"schema":{"type":"string"}}}}},"security":[{"apikey_cookie_s_fid":[]},{"apikey_cookie_dssid2":[]},{"apikey_header_cookie":[]}],"parameters":[{"name":"apikey","in":"query","required":false,"schema":{"type":"string"}}]}},"/in/shop/experience-meta":{"get":{"servers":[{"url":"https://www.apple.com"}],"summary":"/in/shop/experience-meta","description":"**Host**: https://www.apple.com","responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"head":{"type":"object","properties":{"status":{"type":"string"},"data":{"type":"object"}},"required":["status","data"]},"body":{"type":"array"}},"required":["head","body"]}}},"description":"","headers":{"x-cache":{"required":false,"schema":{"type":"string"}},"x-content-type-options":{"required":false,"schema":{"type":"string"}},"x-nxid":{"required":false,"schema":{"type":"string"}},"x-shred":{"required":false,"schema":{"type":"string"}}}}},"security":[{"apikey_cookie_s_fid":[]},{"apikey_cookie_dssid2":[]},{"apikey_header_cookie":[]}]}},"/in/shop/mcm/product-price":{"get":{"servers":[{"url":"https://www.apple.com"}],"summary":"/in/shop/mcm/product-price","description":"**Host**: https://www.apple.com","responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"object","properties":{"IPHONE16PRO":{"type":"object","properties":{"type":{"type":"string"},"name":{"type":"string"},"baseName":{"type":"string"},"id":{"type":"string"},"price":{"type":"object","properties":{"value":{"type":"integer"},"display":{"type":"object","properties":{"smart":{"type":"string"},"actual":{"type":"string"},"from":{"type":"string"},"monthlyFrom":{"type":"string"},"monthlyPrice":{"type":"string"},"perMonth":{"type":"string"},"perMonthSmart":{"type":"string"},"perMonthActual":{"type":"string"},"perMonthValue":{"type":"string"},"months":{"type":"string"},"apr":{"type":"string"}},"required":["smart","actual","from","monthlyFrom","monthlyPrice","perMonth","perMonthSmart","perMonthActual","perMonthValue","months","apr"]}},"required":["value","display"]},"tradeIn":{"type":"object","properties":{"slug":{"type":"string"},"productName":{"type":"string"},"maxPriceProductName":{"type":"string"},"credit":{"type":"object","properties":{"value":{"type":"integer"},"display":{"type":"object","properties":{"smart":{"type":"string"},"upto":{"type":"string"},"actual":{"type":"string"},"range":{"type":"string"},"minValue":{"type":"string"},"maxValue":{"type":"string"}},"required":["smart","upto","actual","range","minValue","maxValue"]}},"required":["value","display"]},"priceWithCreditApplied":{"type":"object","properties":{"value":{"type":"integer"},"display":{"type":"object","properties":{"smart":{"type":"string"},"actual":{"type":"string"},"from":{"type":"string"},"monthlyFrom":{"type":"string"},"monthlyPrice":{"type":"string"},"perMonth":{"type":"string"},"perMonthSmart":{"type":"string"},"perMonthActual":{"type":"string"},"perMonthValue":{"type":"string"},"months":{"type":"string"},"apr":{"type":"string"}},"required":["smart","actual","from","monthlyFrom","monthlyPrice","perMonth","perMonthSmart","perMonthActual","perMonthValue","months","apr"]}},"required":["value","display"]}},"required":["slug","productName","maxPriceProductName","credit","priceWithCreditApplied"]}},"required":["type","name","baseName","id","price","tradeIn"]},"IPHONE16":{"type":"object","properties":{"type":{"type":"string"},"name":{"type":"string"},"baseName":{"type":"string"},"id":{"type":"string"},"price":{"type":"object","properties":{"value":{"type":"integer"},"display":{"type":"object","properties":{"smart":{"type":"string"},"actual":{"type":"string"},"from":{"type":"string"},"monthlyFrom":{"type":"string"},"monthlyPrice":{"type":"string"},"perMonth":{"type":"string"},"perMonthSmart":{"type":"string"},"perMonthActual":{"type":"string"},"perMonthValue":{"type":"string"},"months":{"type":"string"},"apr":{"type":"string"}},"required":["smart","actual","from","monthlyFrom","monthlyPrice","perMonth","perMonthSmart","perMonthActual","perMonthValue","months","apr"]}},"required":["value","display"]},"tradeIn":{"type":"object","properties":{"slug":{"type":"string"},"productName":{"type":"string"},"maxPriceProductName":{"type":"string"},"credit":{"type":"object","properties":{"value":{"type":"integer"},"display":{"type":"object","properties":{"smart":{"type":"string"},"upto":{"type":"string"},"actual":{"type":"string"},"range":{"type":"string"},"minValue":{"type":"string"},"maxValue":{"type":"string"}},"required":["smart","upto","actual","range","minValue","maxValue"]}},"required":["value","display"]},"priceWithCreditApplied":{"type":"object","properties":{"value":{"type":"integer"},"display":{"type":"object","properties":{"smart":{"type":"string"},"actual":{"type":"string"},"from":{"type":"string"},"monthlyFrom":{"type":"string"},"monthlyPrice":{"type":"string"},"perMonth":{"type":"string"},"perMonthSmart":{"type":"string"},"perMonthActual":{"type":"string"},"perMonthValue":{"type":"string"},"months":{"type":"string"},"apr":{"type":"string"}},"required":["smart","actual","from","monthlyFrom","monthlyPrice","perMonth","perMonthSmart","perMonthActual","perMonthValue","months","apr"]}},"required":["value","display"]}},"required":["slug","productName","maxPriceProductName","credit","priceWithCreditApplied"]}},"required":["type","name","baseName","id","price","tradeIn"]}},"required":["IPHONE16PRO","IPHONE16"]}},"required":["items"]}}},"description":"","headers":{"x-cache":{"required":false,"schema":{"type":"string"}},"x-content-type-options":{"required":false,"schema":{"type":"string"}},"x-nxid":{"required":false,"schema":{"type":"string"}},"x-shred":{"required":false,"schema":{"type":"string"}}}}},"security":[{"apikey_cookie_s_fid":[]},{"apikey_cookie_dssid2":[]},{"apikey_header_cookie":[]}],"parameters":[{"name":"parts","in":"query","required":false,"schema":{"type":"string"}}]}},"/in/shop/mcm/tradein-credit":{"post":{"servers":[{"url":"https://www.apple.com"}],"summary":"/in/shop/mcm/tradein-credit","description":"**Host**: https://www.apple.com","responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"object","properties":{"model_iphone_15_pro_max":{"type":"object","properties":{"productName":{"type":"string"},"productNameWithMaxPrice":{"type":"string"},"slug":{"type":"string"},"credit":{"type":"object","properties":{"value":{"type":"integer"},"display":{"type":"object","properties":{"smart":{"type":"string"},"upto":{"type":"string"},"actual":{"type":"string"},"range":{"type":"string"},"minValue":{"type":"string"},"maxValue":{"type":"string"},"legal":{"type":"string"}},"required":["smart","upto","actual","range","minValue","maxValue","legal"]}},"required":["value","display"]}},"required":["productName","productNameWithMaxPrice","slug","credit"]},"model_iphone_12":{"type":"object","properties":{"productName":{"type":"string"},"productNameWithMaxPrice":{"type":"string"},"slug":{"type":"string"},"credit":{"type":"object","properties":{"value":{"type":"integer"},"display":{"type":"object","properties":{"smart":{"type":"string"},"upto":{"type":"string"},"actual":{"type":"string"},"range":{"type":"string"},"minValue":{"type":"string"},"maxValue":{"type":"string"},"legal":{"type":"string"}},"required":["smart","upto","actual","range","minValue","maxValue","legal"]}},"required":["value","display"]}},"required":["productName","productNameWithMaxPrice","slug","credit"]}},"required":["model_iphone_15_pro_max","model_iphone_12"]}},"required":["ids"]}}},"description":"","headers":{"x-cache":{"required":false,"schema":{"type":"string"}},"x-content-type-options":{"required":false,"schema":{"type":"string"}},"x-nxid":{"required":false,"schema":{"type":"string"}},"x-shred":{"required":false,"schema":{"type":"string"}}}}},"security":[{"apikey_cookie_s_fid":[]},{"apikey_cookie_dssid2":[]},{"apikey_header_cookie":[]}],"parameters":[{"name":"slugs","in":"query","required":false,"schema":{"type":"string"}}]}},"/v/iphone-16-pro/d/static/scenes/iPhoneProViewer_L_ROW_avif.lsd":{"get":{"servers":[{"url":"https://www.apple.com"}],"summary":"/v/iphone-16-pro/d/static/scenes/iPhoneProViewer_L_ROW_avif.lsd","description":"**Host**: https://www.apple.com","responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"@type":{"type":"string"},"assets":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"path":{"type":"string"},"properties":{"type":"object","properties":{"flipY":{"type":"boolean"},"channel":{"type":"integer"},"colorSpace":{"type":"string"},"wrapS":{"type":"string"},"wrapT":{"type":"string"},"generateMipmaps":{"type":"boolean"}},"required":["flipY"]},"type":{"type":"string"}},"required":["id","path","type"]}},"children":{"type":"array","items":{"type":"object","properties":{"@type":{"type":"string"},"far":{"type":"integer"},"fov":{"type":"number"},"id":{"type":"string"},"name":{"type":"string"},"near":{"type":"integer"},"parent":{"type":"null"},"position":{"type":"array","items":{"type":"integer"}},"rotation":{"type":"array","items":{"type":"integer"}},"rotationOrder":{"type":"string"},"scale":{"type":"array","items":{"type":"integer"}},"scripts":{"type":"object","properties":{"InteractiveCamera":{"type":"object","properties":{"angles":{"type":"string"},"damp":{"type":"array","items":{"type":"number"}},"dampMobile":{"type":"array","items":{"type":"number"}},"id":{"type":"string"},"interpolation":{"type":"boolean"},"lerpDrag":{"type":"number"},"lerpSnap":{"type":"number"},"offset":{"type":"number"},"polarAngleLimit":{"type":"array","items":{"type":"integer"}},"polarFalloff":{"type":"array","items":{"type":"integer"}},"polarFalloffStrength":{"type":"number"},"radius":{"type":"integer"},"rotationFalloff":{"type":"array","items":{"type":"number"}},"rotationFalloffStrength":{"type":"integer"},"rotationLimit":{"type":"array","items":{"type":"number"}},"thetaDistanceLimit":{"type":"number"},"throw":{"type":"array","items":{"type":"number"}}},"required":["angles","damp","dampMobile","id","interpolation","lerpDrag","lerpSnap","offset","polarAngleLimit","polarFalloff","polarFalloffStrength","radius","rotationFalloff","rotationFalloffStrength","rotationLimit","thetaDistanceLimit","throw"]},"EnvironmentInterpolation":{"type":"object","properties":{"@variants":{"type":"array","items":{"type":"object","properties":{"@states":{"type":"array","items":{"type":"string"}},"E1dAKqF4MBgCUlsJoEZQu5J8Hn0l0QXUVepcZPnC6s0":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"aEJ2qyJ-V1dwc7iFwyUh6ARpYKD5fJiSnOLq-acmRJA":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"number"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"R9vUQfOAVrZMvK-lGmwF9nLdKnH3HNJvrA1wmcSnilI":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"EtnitrAZfY18jgRy0Wj6ZmbZtWNVBf0_K29ZMRHPJus":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"Nk1HAsiwmIBmG7ZKvVZIW5Dc_oi_CiR8ftXBXV0B9N8":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"number"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"ze5E28ltbdbnK7R2e_yKLX33204JzVmfcMi96ye3UW0":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"_zxSzp-6I3pWauLlWSB6-g8JuoWVU-IUY_rsgsuq7Xk":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"fej0j-asI5x0RbZH4Naoef3A8o9Y_xdt_DXsSNgonlI":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"dnOZicrjJ54zsrIHELQkPr2EBFMn4qWysnE5AkfwLPo":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"LfrkGdABph7gT6bcZSpfBtfrKq4TlpNkRgsKV4zUC_w":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"z1JtRiGRR6k4vVYvviuuwS-s4tmyjydIT8tOz--0Plg":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"AabjfnOqwMK_wpXh06WxHk5FlIfPsj-yU1fmHkDQAS8":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"q_iaxgVtxv4dr7vaxwqa5Rd_mjAxI6O_JdcmqVylWko":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"esDQGY_jE6E4X2df3ojCoC1sz0rYaNbZ3W5GDqoMs9E":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"XHC_5U-flpapQCL3wPUYg2PZOR4mBUv85OTWhA5rcP8":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"AkV4gq927kXfSm0EuDDDPNWmr312XHltc9HMWgbDkvg":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"bvtq8B9AIeZPxvTlGj7VLushVaVgvO6GamPRWQZTDqw":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"Py9spalr2nuT8swho1XvEIQOi1-T1U3oEr1j7LZmPC4":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"sc8VekS_6vWpY-0Fr_ZiQJQVACFJ39VNxxdpE0TIfww":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"integer"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"eHEK24x1FFUC6WrjO06ezCG3jHsIL2PdQf9aTYXGzG4":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"hXhMW_pUAVMDQTJAZgyWCwpit4R6bfCzQXh-kS2LsBQ":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"0sK5WYrwCo1AWbj2c7nFSPuC2YklkvDC06gVHSdg9Gs":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"number"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"OfOW7JOPYEYoTRRHLlJbYVi6CtEMR8QrjNowjC1sJt8":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"4b-TvDk202zyoD1jNFzVL9vWRargarTjZhNiRiAbUSY":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"integer"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"w3J5wSKqIZhGE_wP9nLsF6SBw5oT6V9CeIp1gx-qVw0":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"wKS-88cS5NhCyTHLp6KjDtc3MmckkZWgMvisL_ExWxg":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"rpyYasD5zR9Z-VHqWcG3DHW7tsdO2L1gbNwgdfEB5pc":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"X87Sj6zxegyA62e7ykx1_EnBmImNcjfszqL0lr0wZgE":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"AvlTYKeYKWi_cJWscAeECeH98C6kEanDfs5akOKwWOA":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"NJ-d0tMWVD0jDAVQCJPaxHPu108w0bNEt5MiPJeJrOM":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"6h6lHbAK8udJQ8qVaMldGsEy6213Q2GlKU-fDZ12Fec":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"0dzlWtYoM6SyAqmHjEmtB7XE62J_XvrwCo_bffNifEg":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"_66sVCKExcXf8a1EFb_Djaxw6cjJYzRQfoK9pqEsUDM":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"-cA0sBvSQX5a-5WOdl5L2YTpfODC5KUWq5HuKwabxZU":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"3LLeacmu272bTzQaz0YaGhBvVPBK8a_8ircmjHJniuM":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"SLGjuWrpjajGz9oSNHJs-c2XB29u4q1j89hVzOUdDvY":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"vPHHjiHIkeoam27EB9qoRAQ_n7x_ik-2pYHjAmqByZw":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"hNJNvMEN1B00L8ld6YHDgpZyo4phy4IvjR414shoFtg":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"Suy_cXudIfd6BaWnEcIxFiV1hC5H1lcGxVEb3ZRDeeY":{"type":"object","properties":{"emissiveIntensity":{"type":"integer"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity"]},"cREHFWRYAchKAYOJMBLLnCSCbFcZoWY1w5wiXuKglAU":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","colorR","colorG","colorB","metalness","roughness","emissiveR","emissiveG","emissiveB"]},"0Uop0D_zh2enaeJwWstmOxruysgUCIDiKbgoF2RVsAo":{"type":"object","properties":{"emissiveIntensity":{"type":"integer"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity"]},"mhJjkHCELLCC120Cjx92pG8pHMZc93AOjrCC8I1B9zk":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"number"},"emissiveG":{"type":"number"},"emissiveB":{"type":"number"}},"required":["emissiveIntensity","colorR","colorG","colorB","metalness","roughness","emissiveR","emissiveG","emissiveB"]},"2Tdybn_CjCeVSiXmwvsJCK2ALcrc71CIvcUZtthmxfM":{"type":"object","properties":{"emissiveIntensity":{"type":"integer"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity"]},"qE48swFE9xDS0FXQtERZVGBhxIzI7KnKaXXCNGjaxZ4":{"type":"object","properties":{"emissiveIntensity":{"type":"integer"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","colorR","colorG","colorB","metalness","roughness","emissiveR","emissiveG","emissiveB"]},"5P5m3Xi7m-7n0qpqk2DUoIWWTTda75KL3LvyOoOsY_I":{"type":"object","properties":{"emissiveIntensity":{"type":"integer"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","colorR","colorG","colorB","metalness","roughness","emissiveR","emissiveG","emissiveB"]},"Js8ocsViHeyT6P-nP2YzvZuzVDDOvT1cfP7X_3JP1Z4":{"type":"object","properties":{"emissiveIntensity":{"type":"integer"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","colorR","colorG","colorB","metalness","roughness","emissiveR","emissiveG","emissiveB"]},"3YtJ4F7Cd1wyrWhxbMseH7L2KPXKvB9va_7BswP_opM":{"type":"object","properties":{"emissiveIntensity":{"type":"integer"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity"]},"9ry7ilWwr54-zXxEmeMQBSh5dTgyNOYomVSP_-WHlEk":{"type":"object","properties":{"emissiveIntensity":{"type":"integer"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity"]},"CifUSDlK7qsDVVDNkg8VUmtVzCHuM-Ly-3gUjeT-5vE":{"type":"object","properties":{"emissiveIntensity":{"type":"integer"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","colorR","colorG","colorB","metalness","roughness","emissiveR","emissiveG","emissiveB"]},"BpBz9yy10L8ioVi2HRq-Ujpv6kV6XkKI1QG9zpmyIkY":{"type":"object","properties":{"emissiveIntensity":{"type":"integer"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"number"},"emissiveG":{"type":"number"},"emissiveB":{"type":"number"}},"required":["emissiveIntensity","colorR","colorG","colorB","metalness","roughness","emissiveR","emissiveG","emissiveB"]},"KQnReBQCEz3ooNYcashjQ42MwePLJCZQLjRgqeboUVg":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"number"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"XuikRGCNq4i0g-Is0pCLCBPEn2YKQTANGvwcDb_GScI":{"type":"object","properties":{"positionX":{"type":"number"},"positionY":{"type":"number"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"CD5z5oNHzEVNH3oQpSwuOQxmBPzL8Mr9R1XnnfxDWh4":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"number"},"positionZ":{"type":"number"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"PmBDL6Ls9HQpRPVcaatGkHKm2D0V6WxeBcVvpCkbmpk":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"number"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"POFB4FHPnWAnOqhBQFnv1U7anVRW0ZmS2Tid1tTK__g":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"H98dIhp0j5ntaAj6e2nq0Vr8He17GDvH6curomDbqLo":{"type":"object","properties":{"positionX":{"type":"number"},"positionY":{"type":"number"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"jK5hwQasN0EPyCoKJrOSjRMHtSCrcdxgFEs2BytE_JU":{"type":"object","properties":{"positionX":{"type":"number"},"positionY":{"type":"integer"},"positionZ":{"type":"number"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"Bie2nrJz-GWD321gkt5JF_B2oOt7rpC5z9NhObF0y_w":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"number"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"EsQK4B04zjtrdequ_FFfHTlJbsjKnEyofKCtddnuS1A":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"2vuILqrzXrFykjPt2co-AKdVV_IRQ_mkMgCJH4xjtKw":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"integer"},"rotationZ":{"type":"number"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"4B847Y_2Ug7vYgBLWWTB4wsPvGzCOIvvbsptwvEMqtw":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"FDIasP4N_pXekAY1CQbOj5G4v3kLk22ft6jjn2lOj8Y":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"number"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"number"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"1r3siDfobloAxIg7K81fKs8uj4jKLg7ahcE7_7CONNY":{"type":"object","properties":{"positionX":{"type":"number"},"positionY":{"type":"number"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"iFf1nYpKRSiBQzuAka-XbrpsyKJ7M5L4VcGguWsgalo":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"nDCWmmeCWJu_goM6SkIYMPpXXTzpUE2o0GddePXQ6x4":{"type":"object","properties":{"positionX":{"type":"number"},"positionY":{"type":"integer"},"positionZ":{"type":"number"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"n28Iryc5EDwYkV4B7Xhbg77c747wmAG9t_7ZOrTM-9k":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"Sv13OyrEivtmftwa0jslsZHdsZbByRMQGx02yg9dBVk":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"number"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"number"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"sn-Zix-4kIuCeQ9u1TxAEJ5zrFISEf7RfONN485AFw0":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"number"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"xegjKjZqokog7OYWqySWJWW9WF2UIijWeEUd5Y66JUk":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"number"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"tQC0u9e_frCO8_94ZfoU94QJv6wrd0_pZPK7jzjr8eQ":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"WsyM_WW3xu8BMQASTjdrieTNimvH_E4hEQ4pzCWMo44":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"number"},"positionZ":{"type":"number"},"rotationX":{"type":"number"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"1bMrp21Tbj7SXrzvUqYGJY3BruktA-03OR_wLLCQwZc":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"63ZAxQosmRcw1uImraFaOJ6_HTmloYfWiDwDf24Gv0w":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"fR9TodaMvX71yDOm9r39c_UGH5iD0WEoNOIO8rck6Fk":{"type":"object","properties":{"positionX":{"type":"number"},"positionY":{"type":"number"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"Ljpq2JROdTGzg3uHHSpjSpvvDa5-5XyAYXtdSimZMVA":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"integer"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"oUlC1rL9TVEKyTJWdBNh_SMuKQqEUk4iPftmut8pzyM":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"cuxNz7WW0EPqScV3tcJjxPhT5IEwv4bySqrXl54mIMw":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"2jIE4Utpi3J6RCvBmgqNGFCWlt7f_lotfAxIaEil2mY":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"KTvYk8Ym_3j0obCvvX5NwnmnijOvjY1LreTefjPYRDE":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"g_EwCs2l1PV5VJS77EaQs6tjlkY2XpFZyChkm0bYwi4":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"SUFEGbmaeu5SuuvNTLT_7Ul-6c0SR161cZJg8wk1QrY":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"integer"},"rotationZ":{"type":"number"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"NY6gjzzNuOjWBxPrI1elx5NxkhBBWOgydJSuT5nkgRM":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"0CjIeMW3X1_Fn6BNUGMfKSosscjTznF5jUJN7HmeI8U":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"9SGYr76km7JzZISxaMJfvt0-pRIdP4e6YfjMC5zsdA0":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"number"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"oVzCB45HeLC42QQbk7KVukns3ecVPSMhNHfvgsYrCYI":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"number"},"rotationX":{"type":"number"},"rotationY":{"type":"integer"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"zin5env79Lzxzo0eqtmc43WvLXeMc4XVhFC0NiFwrtU":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"Aa26OaJZCfPqtqahTJwiAUyZc4dTqazRfduWdIe69lQ":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"_xaCWZAe8V-EGkrefgPm5Q9KQp_7OpBO-8NAjzYQDfA":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"sfbD5sVWbTI6yNlIonjbQLo0TzVH7T1hKt48c3lgT9s":{"type":"object","properties":{"positionX":{"type":"number"},"positionY":{"type":"integer"},"positionZ":{"type":"number"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"number"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"lT0x6zbq8IyP3Uiaq_2akQ6gXsvXK51JzcsZr-3zfUY":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","emissiveR","emissiveG","emissiveB"]},"vOgqzNSJWEQ5aNkWemBk6gGn_M-VtuAerGJC7Uy0vqA":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","emissiveR","emissiveG","emissiveB"]},"IxaaxGmB_Vx5iO0Ps2AQFC_4JA-tdc3kqFlx6ApAFt4":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","emissiveR","emissiveG","emissiveB"]},"ObTPI2A6RWHVOMdQP0MEJcV-XgRRXvnvBSlmentEYp8":{"type":"object","properties":{"emissiveIntensity":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","emissiveR","emissiveG","emissiveB"]},"jVg6g83ev0Dj_TrXRqWoQwnwzmJNpZSSFyjlWeqbV_Y":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","emissiveR","emissiveG","emissiveB"]},"meLYIpt994mvl813C8zLlups0igRr0Mddqn978o4tpc":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","emissiveR","emissiveG","emissiveB"]},"C4k38o-p9TP4gy810t8kGl77xzFtdTmsPnwqrBQgOf0":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","emissiveR","emissiveG","emissiveB"]},"GpIjD-_mrwckxP91xemrmhm8QVdabHh6jM_hG_xKWJU":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","emissiveR","emissiveG","emissiveB"]},"XSx4hSwzlXUlDRXpNPxj5we4JcUbvFfaa5h36UoTL94":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","emissiveR","emissiveG","emissiveB"]},"KjlnRPuEvmIhFmugDjyP0VI_pnfdCE-L37bT9SKr9Jw":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","emissiveR","emissiveG","emissiveB"]},"uByAuTdF1sdzlTTsQqhXqQtyNjjWiAtIq0lJ9uNeoJo":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","emissiveR","emissiveG","emissiveB"]},"aOlTugnAJ6giZoug5CmXxf3Z4Onmq_MmXhgoGNd_ooc":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","emissiveR","emissiveG","emissiveB"]},"mVLVd36z6-6bZy64h823xg0UOtiB4ql110-YGAoPSHQ":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"EQUo8uyv0u7mSjBKG6OjKCXeAJwLXVLn4O6CQ_gBWVI":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"number"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"PcxBQUGG_eH7khqH3HfGd_leD2Gs0HNv3iAnbecwVh4":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"oISOVKPo36JQeflFO4fzUF9jfEBal8nzOZVuqUonsT4":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"OtjKaQ_RxoFEIhxTtIYBli-0Qq_XMa5i8QOJCeN0Uco":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"mJfDwSEq_6sywWzVCa_Sn2cRfcA1ya2xiD6uYijLPfk":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"RY3pfCFxZZLrCxC7fpOMw7cc6dKCg2KeygwPfJK4bak":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"7E8UZDKz5tfDDTGQQWpwG2hEKkeXUTcxVU4GytlWGlY":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"65DCPZNqmHQDpofnwhY3J9MbdPNVLJqDj4mDvPhkvTw":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"jhZ7kkwLqeLxdcywnocK6Ebtd8CHLIHOAExLipiWXRo":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"k4x_msG9n2FOitwheK1yzRiWzBwRN7hWR_0D_H9Tvt8":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"zQHJcG5wikNP_M60G_bFFDH54QedrPCTPJ2qhzfPjlw":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"41f8ZQM7UiLmQ8bMiW03mddFotlZfJ4TMiUib9PWbUw":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"rBmM1VQVL_GWEtQldriVNYNcd0imW8KzHE7hKLGYQe4":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"MwV8fRpwpGO3i7Im8zL4VKAFTAzHFJIgm7nYoJr2pBo":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"Dk3lf9E01p8AtXvFvHlQq09B14kJ2MeGr68UTVeIM1c":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"Vrw-PxUjNSs5OypOhibB9YuHcGxgxrdvvVnAmGUNMfk":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"2_7nIwJ9OGhv7tiir4V7kJL6WjGBzxFL09xg89aO70I":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"M-HBMXersVc23C1y4Cdm2lZ8NxtreAtpa7Uvg5DRISo":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"tKCUlpQccX4kMbQqg28zrupp8W3U9fS85FmzwgpnXw0":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"number"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"E4rrltz26y_HeEi0CU2ygHcW_YcZEZTYAq4S9E2jqTI":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"lVIJr2yMB-suTX6p97VRdVsYDAkhEwbyFx_RlaPksX4":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"1U1SUdTk3-R6jrSMSiUkyouQxQ7F5JRYxjzjKGeiUuA":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"ZgoHPPx6SEG2zFWIkA7z9gwj6ba5ADSLUaU8LWLNOio":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"number"},"scaleZ":{"type":"number"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"VwYkPHYrXc-uI3QfLutTtGueIIEMb9b1PSy4ujyLegg":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"snip8PnsLvQMfwaiK17Z5ZSxXsR5XKiTM0w4Dy9YQaY":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"ijisEY_OXBkLtyMzAOOOlMY1IWlf1YSXbqcQeq8NzGs":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","colorR","colorG","colorB","metalness","roughness","emissiveR","emissiveG","emissiveB"]},"yapw8wl9Lh_avJG8q6xCbYTT1I46bwdTC9C4vqYWbjc":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"number"},"emissiveG":{"type":"number"},"emissiveB":{"type":"number"}},"required":["emissiveIntensity","colorR","colorG","colorB","metalness","roughness","emissiveR","emissiveG","emissiveB"]},"ZB37Uy0eeeHjv6zCSVGxkbwQLEs0FN2iTZh4D9o9NeI":{"type":"object","properties":{"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"},"emissiveIntensity":{"type":"number"}},"required":["colorR","colorG","colorB","metalness","roughness","emissiveR","emissiveG","emissiveB","emissiveIntensity"]},"XbKiy1NFqsVAecZhnlTsGkx0ozTaTXWSUkqWScAJirs":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","colorR","colorG","colorB","metalness","roughness","emissiveR","emissiveG","emissiveB"]},"7HvZt5tPm33mWc1iuo9qYx4HxpPK_pU-OppwMFX9t3g":{"type":"object","properties":{"emissiveIntensity":{"type":"integer"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","colorR","colorG","colorB","metalness","roughness","emissiveR","emissiveG","emissiveB"]},"fVRrPyFiDnrKTma1ciK5qpVUb3fC0e7zmIl6QW9yvZ4":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"number"},"emissiveG":{"type":"number"},"emissiveB":{"type":"number"}},"required":["emissiveIntensity","colorR","colorG","colorB","metalness","roughness","emissiveR","emissiveG","emissiveB"]},"2KCcwaZ-i61PiG8vy4vsBTtSqgf1eNW69AIhBx5lZh4":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","colorR","colorG","colorB","metalness","roughness","emissiveR","emissiveG","emissiveB"]},"fIsoFhdHbLrnB1RieHjs-NXBciqJ_Ol9HE6t2b7sapU":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","colorR","colorG","colorB","metalness","roughness","emissiveR","emissiveG","emissiveB"]},"Z7huVQQpx6Q4F_C6zNeLd60RT5hekaCi4Pa_jjpX2B8":{"type":"object","properties":{"emissiveIntensity":{"type":"number"},"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"metalness":{"type":"integer"},"roughness":{"type":"integer"},"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"}},"required":["emissiveIntensity","colorR","colorG","colorB","metalness","roughness","emissiveR","emissiveG","emissiveB"]}},"required":["@states"]}},"asset":{"type":"string"},"debug":{"type":"boolean"},"envMapIntensity":{"type":"number"},"id":{"type":"string"},"layer":{"type":"integer"}},"required":["@variants","asset","debug","id","layer"]},"Environment":{"type":"object","properties":{"@animations":{"type":"string"},"@variants":{"type":"string"},"debug":{"type":"boolean"},"envMap":{"type":"string"},"envMapIntensity":{"type":"integer"},"envMapRotation":{"type":"array","items":{"type":"number"}},"id":{"type":"string"},"layer":{"type":"integer"}},"required":["@animations","@variants","debug","envMap","envMapIntensity","envMapRotation","id","layer"]}}},"visible":{"type":"boolean"},"zoom":{"type":"integer"},"@variants":{"type":"array","items":{"type":"object","properties":{"@states":{"type":"array","items":{"type":"string"}},"Rq2dbxP5Hdhs2EoR75OXpDIrLss9U5XGghMFxpuhQnQ":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"0ud_QhfhVAkGS_BJ7BT8KExf6B_zqGFFy_JSJiY7UqY":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"kfRyhYO1GM_8DtmZNxBvpjhSfgrAQL-75hBzaEYFHmM":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"number"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"wVnHc-a8d0s8JSzWelfyIPB1S5Onc-KLysWXPvHRnzM":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"G_yiIeO6h1vpm-C6AOa3vptQ0w9UjNcW1fcLIveAHPI":{"type":"object","properties":{"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"intensity":{"type":"number"},"castShadow":{"type":"boolean"},"width":{"type":"integer"},"height":{"type":"integer"}},"required":["intensity"]},"CqVajpNbGszJCO42IdisIJy0ROtiamWtLq7Z9ReHWlk":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"number"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"ewvTM79VsYQBMnnW-oJVipyP6K0QVXrwadwxNwsKfyU":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"number"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"MXedR3YvLnCZYFHOaEobQMH9UT0dXCYn7JgkM8o6IIQ":{"type":"object","properties":{"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"intensity":{"type":"number"},"castShadow":{"type":"boolean"},"width":{"type":"integer"},"height":{"type":"integer"}},"required":["intensity"]},"EoAfNCrcDARYhz1HQRrCElEeR879WaNQX4xYVmLteP4":{"type":"object","properties":{"positionX":{"type":"number"},"positionY":{"type":"number"},"positionZ":{"type":"number"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"K4V9Xvvtr_ZvM6eoEodp1zOuDasU2-50C3GWt0YwjRU":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"},"intensity":{"type":"number"},"castShadow":{"type":"boolean"},"width":{"type":"integer"},"height":{"type":"integer"}},"required":["intensity"]},"CHA4qHheSDxnaMNVGam4pGZqOuN42v2vnbXOyNzZoUk":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"XIffzQVtWXN_RXxrCUMrXqicCD7thnSdU0XE2rYeBaY":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"m3JSugGqB1u5-bTPThh7USSIPIoULn_kawcsRZXTtaI":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"CR70PXmM0wBWun75qDZT45SqAYDeP_c4LIvn7O4YAlA":{"type":"object","properties":{"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"intensity":{"type":"number"},"castShadow":{"type":"boolean"}},"required":["colorR","colorG","colorB","intensity","castShadow"]},"Kj8YHcuAFn74faHxdo4mJUcb5xWBLBqke5SVW5Z_9Zc":{"type":"object","properties":{"positionX":{"type":"number"},"positionY":{"type":"number"},"positionZ":{"type":"number"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"Bxyes16d5DpFFtcqO7u8sWrXCNJfnZDwdRn6--02zUQ":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"5ONqVFefUZH6OPDEP9KgVzFux-OThPo7bETpJFJBIns":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"fe4IqOeG9MplA75FUysaPRLFZ_dcENR1GgszcUyQQvI":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"},"intensity":{"type":"number"},"castShadow":{"type":"boolean"},"angle":{"type":"number"},"penumbra":{"type":"number"}},"required":["colorR","colorG","colorB","intensity","castShadow","angle","penumbra"]},"45i62hFy-wgPJjtAZLn_yelKkGb9GsCyw4s5j6hqH1o":{"type":"object","properties":{"positionX":{"type":"number"},"positionY":{"type":"number"},"positionZ":{"type":"number"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"zW4DPR9KOQLCOhbVzsOp0iaxdXJ4tzKzK3y3A56poJQ":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"K3u9Nj3thOXx630sNv4eIQKdFTtTv2_ucY5ySxASo-s":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"UTc-zPXDjsqczhBaSX6gwOvJOvUMFPYAVlzmBADkQbc":{"type":"object","properties":{"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"intensity":{"type":"number"},"castShadow":{"type":"boolean"},"angle":{"type":"number"},"penumbra":{"type":"number"}},"required":["colorR","colorG","colorB","intensity","castShadow","angle","penumbra"]},"cN4lVYNPx9d2QxlKAkywAYY102NaJsSe8R3ec0TBwjs":{"type":"object","properties":{"positionX":{"type":"number"},"positionY":{"type":"number"},"positionZ":{"type":"number"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"bBhaVCOhLiGySujEN1m27HALxrVTdQ4C5r-6jJF612o":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"C9ipwh88Qll64u_Kr1CreXsVDFTSq_JXgHWq0UbcILM":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"number"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"G8Ls-CYg9SIy47Toat8uc4V0W4DbBHrd5ZZ_L-hylkU":{"type":"object","properties":{"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"intensity":{"type":"number"},"castShadow":{"type":"boolean"},"angle":{"type":"number"},"penumbra":{"type":"number"}},"required":["colorR","colorG","colorB","intensity","castShadow","angle","penumbra"]},"rBS_ALdv9LGQV_ZY6qxl9KOCHt3IhZyh9TaZF_lq8_0":{"type":"object","properties":{"positionX":{"type":"number"},"positionY":{"type":"number"},"positionZ":{"type":"number"},"rotationX":{"type":"number"},"rotationY":{"type":"number"},"rotationZ":{"type":"number"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"mrRmiigyivwCQLEW5p8jVFapUFMurdI3Zo40vb8Phyk":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"GqnvNOp-Y3bFDGANWdpCh_vqdWaKECoaatRb5PySr2c":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"integer"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"integer"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"9XJJZCIEwTqJHP-l1wuRpzjkpBJnaogSrW5sr3GR3T8":{"type":"object","properties":{"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"intensity":{"type":"number"},"castShadow":{"type":"boolean"},"angle":{"type":"number"},"penumbra":{"type":"number"}},"required":["colorR","colorG","colorB","intensity","castShadow","angle","penumbra"]},"Tk3wnVN36d71hESxUcr5VmMGjCEV-rRTMRkftwV82Zg":{"type":"object","properties":{"positionX":{"type":"integer"},"positionY":{"type":"integer"},"positionZ":{"type":"integer"},"rotationX":{"type":"number"},"rotationY":{"type":"integer"},"rotationZ":{"type":"integer"},"scaleX":{"type":"number"},"scaleY":{"type":"integer"},"scaleZ":{"type":"integer"}},"required":["positionX","positionY","positionZ","rotationX","rotationY","rotationZ","scaleX","scaleY","scaleZ"]},"rxo7j1QURLc8MQBIaTQfMxXENg-FctRoEX_TSy94tDM":{"type":"object","properties":{"colorR":{"type":"integer"},"colorG":{"type":"integer"},"colorB":{"type":"integer"},"intensity":{"type":"integer"},"castShadow":{"type":"boolean"},"width":{"type":"number"},"height":{"type":"integer"}},"required":["colorR","colorG","colorB","intensity","castShadow","width","height"]}},"required":["@states"]}},"children":{"type":"array","items":{"type":"object","properties":{"@type":{"type":"string"},"children":{"type":"array","items":{"type":"object","properties":{"@type":{"type":"string"},"children":{"type":"array","items":{"type":"object","properties":{"@type":{"type":"string"},"children":{"type":"array","items":{"type":"object","properties":{"@type":{"type":"string"},"color":{"type":"array","items":{"type":"integer"}},"height":{"type":"integer"},"id":{"type":"string"},"intensity":{"type":"number"},"kind":{"type":"string"},"layer":{"type":"integer"},"name":{"type":"string"},"parent":{"type":"string"},"position":{"type":"array","items":{"type":"integer"}},"rotation":{"type":"array","items":{"type":"integer"}},"rotationOrder":{"type":"string"},"scale":{"type":"array","items":{"type":"integer"}},"scripts":{"type":"object"},"target":{"type":"string"},"visible":{"type":"boolean"},"width":{"type":"number"},"angle":{"type":"number"},"children":{"type":"array","items":{"type":"object","properties":{"@type":{"type":"string"},"id":{"type":"string"},"name":{"type":"string"},"parent":{"type":"string"},"position":{"type":"array","items":{"type":"integer"}},"rotation":{"type":"array","items":{"type":"integer"}},"rotationOrder":{"type":"string"},"scale":{"type":"array","items":{"type":"integer"}},"scripts":{"type":"object"},"visible":{"type":"boolean"}},"required":["@type","id","name","parent","position","rotation","rotationOrder","scale","scripts","visible"]}},"decay":{"type":"integer"},"distance":{"type":"integer"},"penumbra":{"type":"number"}},"required":["@type","color","id","intensity","kind","layer","name","parent","position","rotation","rotationOrder","scale","scripts","target","visible"]}},"id":{"type":"string"},"name":{"type":"string"},"parent":{"type":"string"},"position":{"type":"array","items":{"type":"number"}},"rotation":{"type":"array","items":{"type":"integer"}},"rotationOrder":{"type":"string"},"scale":{"type":"array","items":{"type":"number"}},"scripts":{"type":"object"},"visible":{"type":"boolean"}},"required":["@type","children","id","name","parent","position","rotation","rotationOrder","scale","scripts","visible"]}},"id":{"type":"string"},"name":{"type":"string"},"parent":{"type":"string"},"position":{"type":"array","items":{"type":"number"}},"rotation":{"type":"array","items":{"type":"number"}},"rotationOrder":{"type":"string"},"scale":{"type":"array","items":{"type":"integer"}},"scripts":{"type":"object"},"visible":{"type":"boolean"},"color":{"type":"array","items":{"type":"integer"}},"height":{"type":"integer"},"intensity":{"type":"number"},"kind":{"type":"string"},"layer":{"type":"integer"},"target":{"type":"string"},"width":{"type":"number"},"@variants":{"type":"array","items":{"type":"object","properties":{"@states":{"type":"array","items":{"type":"string"}},"H61ipqlfEJULYhK56jgluw8hs_yoZaSdUF1N4CRB2SM":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"},"roughness":{"type":"integer"},"metalness":{"type":"number"},"emissiveR":{"type":"number"},"emissiveG":{"type":"number"},"emissiveB":{"type":"number"}},"required":["colorR","colorG","colorB","roughness","metalness"]},"kldtoY5871dwiZb32q_vr5us1UcUtzHJOjxd_nrgXkk":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"},"roughness":{"type":"integer"},"metalness":{"type":"number"},"emissiveR":{"type":"number"},"emissiveG":{"type":"number"},"emissiveB":{"type":"number"}},"required":["colorR","colorG","colorB","roughness","metalness"]},"2rCDEAOj7fxmNPpsoxmsCmPE19xI_-17E_gwntkudjY":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"},"roughness":{"type":"number"},"metalness":{"type":"integer"}},"required":["colorR","colorG","colorB","roughness"]},"B2UkAJWdPiEuUiUDRnC9Am3hGFAOEmO9J3ofDYy7zuY":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"},"roughness":{"type":"number"},"normalScaleX":{"type":"number"},"normalScaleY":{"type":"number"},"map":{"type":"string"},"opacityMap":{"type":"string"}},"required":["colorR","colorG","colorB","roughness","normalScaleX","normalScaleY","map","opacityMap"]},"gTBasGYmWK3ToNrtXD4ru0HUi6d3AzZfP2Hry-MOVlY":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"},"roughness":{"type":"number"}},"required":["colorR","colorG","colorB","roughness"]},"Q2l9ghHMCdJMAXRXjjLz43-vLAZAGCm7BldJpTnyoI8":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"}},"required":["colorR","colorG","colorB"]},"BoYWPe7d7d1-ecnEArDq4wyeCid0AyohqI0QLiqDMOI":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"},"roughness":{"type":"number"},"metalness":{"type":"number"},"normalScaleX":{"type":"number"},"normalScaleY":{"type":"number"},"ior":{"type":"number"},"specularColorR":{"type":"integer"},"specularColorG":{"type":"number"},"specularColorB":{"type":"number"},"clearcoatRoughness":{"type":"number"},"clearcoat":{"type":"integer"}},"required":["colorR","colorG","colorB","roughness","metalness","normalScaleX","normalScaleY","ior"]},"baw8s5sYL2jXYjYAsiUyeKH3jAmKSYQfXmosaoDrudo":{"type":"object","properties":{"specularColorR":{"type":"number"},"specularColorG":{"type":"number"},"specularColorB":{"type":"number"},"roughness":{"type":"number"},"metalness":{"type":"number"},"clearcoatRoughness":{"type":"number"},"clearcoat":{"type":"integer"},"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"}},"required":["specularColorR","specularColorG","specularColorB","roughness","metalness","clearcoatRoughness","clearcoat"]},"ozvIrdwF8nEUvPBZ8S6y8ES6bBQltHG9WQWpApJ4YKk":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"},"roughness":{"type":"number"},"metalness":{"type":"integer"},"ior":{"type":"integer"}},"required":["colorR","colorG","colorB","roughness","metalness","ior"]},"MdLQQdPkKQW8OmzfGE27KiwIbtB4mtsjWVAUTXiXTZA":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"},"roughness":{"type":"number"},"metalness":{"type":"integer"}},"required":["colorR","colorG","colorB","roughness","metalness"]},"z-HryAXp2xJxzwWJ5fbEkGfqtptozsdbjchNDaP33Mo":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"},"roughness":{"type":"number"},"metalness":{"type":"integer"}},"required":["colorR","colorG","colorB","roughness","metalness"]},"IcCzxj3cBOoIJDqGrWOpoefuOYO98-fT4m-UnWoagYk":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"},"roughness":{"type":"number"},"metalness":{"type":"number"}},"required":["colorR","colorG","colorB","roughness","metalness"]},"vdyHy3hcIHpVICb9754FbGB5f3BTxWcSLR3mKW6WqRw":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"},"roughness":{"type":"number"},"metalness":{"type":"number"}},"required":["colorR","colorG","colorB","roughness","metalness"]},"04WkJA3TynyH9wOc3rW-FVbybsc2MngASfmpEzH-HrM":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"}},"required":["colorR","colorG","colorB"]},"ohBZFgboXfPJsfUU_J8hwhvu6-Pf5oMBbiw4t2ccFJQ":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"},"roughness":{"type":"number"},"metalness":{"type":"integer"},"ior":{"type":"integer"}},"required":["colorR","colorG","colorB","roughness","metalness","ior"]},"qjc95u7w2VIzovPCVuCPjAbah-XTZMxgZBG5zPuH49Y":{"type":"object","properties":{"emissiveR":{"type":"number"},"emissiveG":{"type":"number"},"emissiveB":{"type":"number"}},"required":["emissiveR","emissiveG","emissiveB"]},"RauirJ3L-9Bv5CK7KQRa-GtT72qdOLgbAYWQbMat_Og":{"type":"object","properties":{"roughness":{"type":"number"}},"required":["roughness"]},"vb_s14aOuBkPGlajZYK6lYS8EH5Y8xjyinXpfd2cXFI":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"}},"required":["colorR","colorG","colorB"]},"HOmO0sNyvzR1MyfJRe-Hr7qEaP_Fh-rL6-4o7WmghvU":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"},"roughness":{"type":"number"},"metalness":{"type":"number"}},"required":["colorR","colorG","colorB","roughness","metalness"]},"vz4K-6T-Bwm2UWW0ARADSD_Wb2wbXEtK0gEpLFTMiis":{"type":"object","properties":{"roughness":{"type":"number"},"metalness":{"type":"number"},"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"}},"required":["roughness","metalness","colorR","colorG","colorB"]},"9mXSsQOALc989OsBSx1tiiSCeNMy307Ax7vpaLPoTn4":{"type":"object","properties":{"roughness":{"type":"number"},"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"}},"required":["roughness","colorR","colorG","colorB"]},"1xarhNjb8sheCP-M0ArB0aB6AnWBFV6YxCGrLJ_Aje0":{"type":"object","properties":{"colorR":{"type":"number"},"colorG":{"type":"number"},"colorB":{"type":"number"},"roughness":{"type":"number"},"metalness":{"type":"number"}},"required":["colorR","colorG","colorB","roughness","metalness"]},"F3R8z5CKhEfgwr2rRcR69AKy7zaiziQA1norBfGoNfw":{"type":"object","properties":{"colorR":{"type":"integer"},"colorG":{"type":"number"},"colorB":{"type":"integer"},"roughness":{"type":"integer"},"metalness":{"type":"integer"},"clearcoat":{"type":"integer"},"clearcoatRoughness":{"type":"integer"}},"required":["colorR","colorG","colorB","roughness","metalness","clearcoat","clearcoatRoughness"]},"GJNqA0eoaAj309-QTBcSMBG7KYb9dHCINTcrcUVfeD8":{"type":"object","properties":{"emissiveR":{"type":"integer"},"emissiveG":{"type":"integer"},"emissiveB":{"type":"integer"},"emissiveMap":{"type":"string"},"roughness":{"type":
[...]
